@import "./bs";
@import "./mui";
@import "./scroll";
@import "./fontiran";

body {
  font-family: var(--primary-font);
  text-align: start;
}

.text-start {
  text-align: start !important;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
