:root[data-theme="DARK"] {
  --primary-font: "IRANSans", serif;
  --primary-color: #3f51b5;
  --secondary-color: #e91e63;
  --header-bg: #252525;
  --aside-bg: #303030;
  --editor-bg: #252525;
  --editor-color: #c1c1c1;
  --message-bg: #404040;
  --message-mine-bg: #353535;
}
