:root {
  --primary-font: "IRANSans", serif;
  --primary-color: #3f51b5;
  --secondary-color: #e91e63;
  --header-bg: #ffffff;
  --aside-bg: #fafafa;
  --editor-bg: #ffffff;
  --editor-color: #7b7b7b;
}
