@import "../assets/scss/variable";

.messages {
  position: relative;
  z-index: 9;
}

.message {
  background-color: #ffffff;
  border-radius: var(--radius) var(--radius) var(--radius) 0;
  margin-right: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);

  &.mine {
    border-radius: var(--radius) var(--radius) 0 var(--radius);
    background-color: #cdcdcd;
  }
}

@media (min-width: #{map-get($grid-breakpoints, "xs")}) {
  .message {
    display: table;
    margin-right: auto;
    margin-left: 10px;
    width: auto;
    max-width: 400px !important;

    &.mine {
      margin-right: 10px;
      margin-left: auto;
    }
  }
}

.content {
  word-break: break-word;
}

.time {
  opacity: 0.7;
  font-size: 80%;
}
